<% if(errors.length> 0) { %>

    <div class="alert show">

        <span class="msg">

            <% errors.forEach(erro=> { %>
                <%= erro %><br>
                    <% }); %>

        </span>


    </div>

    <% } %>

        <% if(success.length> 0) { %>

            <div class="success show">
                <span class="msg-success">

                    <% success.forEach(success=> { %>
                        <%= success %><br>
                            <% }); %>

                </span>
            </div>

            <% } %>



















<!-- <% if(errors.length > 0) { %>
    <div class="row">
        <div class="col">
            <div class="alert alert-danger my-3">
                
                <% errors.forEach(erro => { %>
                    <%= erro %><br>
                 <% }); %>   

            </div>
        </div>
    </div>
    <% } %>

    <% if(success.length > 0) { %>
        <div class="row">
            <div class="col">
                <div class="alert alert-success my-3">
                    
                    <% success.forEach(success => { %>
                        <%= success %><br>
                     <% }); %>   
    
                </div>
            </div>
        </div>
        <% } %>     -->