<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">

  <div class="row">

    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">

      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos abaixo:</p>

      <div class="row">
        <div class="col">
          <div class="alert alert-danger my-3">Erro Teste</div>
        </div>
      </div>

      <table class="table table-hover my-3">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Tel</th>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">Igor</td>
            <td>Souza</td>
            <td>(71)993197985</td>
            <td>igor@teste.com</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="col-lg-2"></div>

  </div>

</div>

<%- include('includes/footer')%>


  